*.o
*.obj

*.exe
*.out
*.app
*.dll
*.so
*.dylib

*.log
*.tmp
*.swp
*.swo
*.cache
*.gz
*.zip

*.a
*.lib
*.pch
*.pdb

/build/
/build-*/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json

.vscode/

.idea/
cmake-build-*/

*.gcno
*.gcda
*.gcov

tags
.DS_Store
Thumbs.db
